<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://archive.org/download/mey-16.31.4-1637417205/Mey%E2%9D%A4%EF%B8%8F_16.31.4_1637417205.ipa</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.For Mey</string>
<key>bundle-version</key>
<string>19.3.0</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>For Mey</string>
</dict>
</dict>
</array>
</dict>
</plist>
